.filterSort{
    display: flex;
    justify-content: space-around;
}
.input select {
    background-color: transparent;
    border-radius: 5px;
    border: 1px solid white;
}
.input option{
    background-color: transparent;
    border-radius: 5px;
    border: 1px solid white;
}
.contain{
    height: 500px;
}
.cursor{
    cursor: pointer;
}