.landing{
    display:flex;
    justify-content:  center;
    align-items: center;
    height: 625px;
    background-image: url(../../img/esta_si.jpeg);
    background-size: cover;
}
.h2{
    color: white;
    font-family: monospace;
    font-size: 25px;
}
.content{
    display: flex;
    flex-direction: column;
}
.pokebola{
    align-self: center;
}